/* General body styling */
* { box-sizing: border-box; }

body {
    color: #EAEAEA; 
    font-family: Arial, Helvetica, sans-serif;
}

/* ====================================================== */

/* Wrapper */
/* #wrapper {
    background-color: #4B0082;
} */

#wrapper {
  background-color: #4B0082;
  margin: auto; /* Centers the wrapper */
  width: 80%; /* Consistent width */
  border: 1px solid #002171; /* Adds border around the page */
  box-shadow: 3px 3px 3px #002171; /* Creates shadow effect */
}


/* Custom margin */
.custom-margin {
    margin: 0 10%;
}

/* Header */
header {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url('../images/sunrise.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header h1 {
    position: absolute;
    margin: 0;
    top: 1em;
    font-size: 2.5em;
    font-family: Georgia, "Times New Roman", serif; 
}

/* Navbar */
nav {
    background-color: #EAEAEA;
    color: rgb(5, 64, 5);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    text-align: right;
    font-size: smaller;
    font-weight: 700;
}

nav li {
    display: inline;
    margin: 0 1.5em;
}

nav li a {
    text-decoration: none;
}
  
  /* Main Content */
  main {
    padding: 20px;
    background-color: #f9f9f9;
    color: black;
  }
  
  main h2 {
    color: #444;
    margin-bottom: 10px;
  }
  
  form {
    padding: 20px;
    border-radius: 5px;
  }
  
form p {
    margin-bottom: 15px;
    font-style: italic;
    color: #666;
    text-align: center;
    color: black;
}

form label {
    display: inline-block;
    width: 100px; /* Width for the label to align properly */
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    vertical-align: middle;
    color: black;
}

form input,
form textarea {
    width: 350px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    vertical-align: middle;
}

form textarea {
    resize: none;
}

form input[type="submit"] {
    display: block;
    background-color: #333;
    /* color: white; */
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 115px;
    text-align: center;
    width: fit-content;
    color: white;
}

form input[type="submit"]:hover {
    background-color: #555;
}

  

  /* Footer */
footer {
  font-style: italic;
  text-align: center;
  font-size: 80%;
  padding: 2em;
  font-family: Georgia, "Times New Roman", serif;
}